body {
   background-color:black;
  }
.yellow{
    font-size: 50px;
    font-style: italic;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: space-between;
}
p{
    display: flex;
    justify-content: center;
    color:white;
}
